/* Website template by freewebsitetemplates.com */
/*------------------------- Fonts ------------------------*/
@font-face {
	font-family: 'anticregular';
	src: url('../fonts/antic-regular-webfont.eot');
	src: url('../fonts/antic-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/antic-regular-webfont.woff') format('woff'),  url('../fonts/antic-regular-webfont.ttf') format('truetype'),  url('../fonts/antic-regular-webfont.svg#anticregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/bg-body.jpg);
	font-size:12px;
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
p {
	font-size:12px;
	line-height:24px;
	letter-spacing:0.05em;
	color:#959595;
}
p a {
	color:#959595;
}
p a:hover {
	color:#1bb5ac;
}
/*------------------------- Body ------------------------*/
#body {
	margin:0 auto 97px;
	min-height:1005px;
	padding:38px 29px 0;
	width:902px;
}
#body.content .house {
	overflow:hidden;
}
#body.content .house > img {
	display:block;
	float:left;
	margin:45px 0 0;
}
#body.content .house div {
	float:right;
	padding:5px 0 0;
	width:430px;
}
#body.content .house div img {
	display:block;
	margin:0 0 0 28px;
}
#body.content .house div h3 {
	color:#e49e06;
	font-family:anticregular;
	font-size:20px;
	font-weight:400;
	letter-spacing:.1em;
	line-height:24px;
	margin-bottom:3px;
	text-align:right;
	text-indent:110px;
}
#body.content .house div p {
	margin:0;
	text-align:right;
}
#body.content .image-left-content {
	margin:63px 0 0;
	overflow:hidden;
}
#body.content .image-left-content div {
	float:left;
	padding:0 0 0 25px;
	width:465px;
}
#body.content .image-left-content div h3 {
	color:#e49e06;
	font-family:anticregular;
	font-size:20px;
	font-weight:400;
	letter-spacing:.1em;
	line-height:24px;
	margin:0 0 3px;
	text-align:left;
}
#body.content .image-left-content div p {
	text-align:left;
}
#body.content .image-left-content > img {
	display:block;
	float:right;
	margin:0 44px 0 0;
}

#body.subdivisions ul li {
	margin:0 0 40px;
	overflow:hidden;
}
#body.subdivisions ul li div {
	float:left;
	margin:0 45px 0 0;
	width:585px;
}
#body.subdivisions ul li div p {
	margin:6px 0 0;
	text-align:justify;
}
#body.subdivisions ul li > a {
	float:right;
}
#body.about p {
	margin:6px 0 72px;
	text-align:justify;
}
#body.contact h3 {
	color:#e49e06;
	font-family:anticregular;
	font-size:20px;
	font-weight:400;
	letter-spacing:.05em;
	margin:11px 0 0;
}
#body.contact p {
	margin:0;
}
#body.contact h3 a {
	color:#1bb5ac;
	text-decoration:none;
	text-transform:capitalize;
}
#body.contact > div {
	padding:18px 0 0 40px;
}
#body.contact > div div:first-child {
	margin-bottom:71px;
}
#body.contact > div div:first-child span:first-child {
	color:#a3a3a3;
	font-size:12px;
	line-height:14px;
	margin:0;
}
#body.contact > div div:first-child span:first-child a {
	color:#a3a3a3;
}
#body.contact > div div:first-child span:first-child a:hover {
	color:#1bb5ac;
}
#body.contact > div div:first-child p {
	margin:4px 0 24px 40px;
}
#body.contact > div div:first-child span {
	display:block;
	line-height:24px;
	margin:0 0 0 40px;
}
#body.contact > div div span:first-child {
	color:#A3A3A3;
	display:block;
	font-size:14px;
	line-height:24px;
	margin:0;
}
#body.contact > div div span {
	color:#a3a3a3;
	display:block;
	line-height:24px;
	margin:0 0 0 40px;
}
#body.house {
	margin-top:38px;
	overflow:hidden;
	padding-top:0;
}
#body.house > div:first-child {
	float:left;
	width:599px;
}
#body.house > div:first-child > ul > li {
	margin:0 0 18px;
	overflow:hidden;
	position:relative;
}
#body.house > div:first-child > ul > li span.bg-top {
	display:block;
	height:10px;
	width:580px;
}
#body.house > div:first-child > ul > li > a {
	display:block;
	float:left;
	margin:8px 20px 0;
}
#body.house > div:first-child > ul > li > div {
	float:right;
	padding:0 39px 0 0;
	width:390px;
}
#body.house > div:first-child > ul > li > div h3 {
	color:#e49e06;
	font-family:anticregular;
	font-size:16px;
	font-weight:400;
	line-height:24px;
	margin:2px 0 0;
}
#body.house > div:first-child > ul > li > div h3 a {
	color:#1bb5ac;
	text-decoration:none;
}
#body.house > div:first-child > ul > li > div p {
	margin:2px 0 0;
}
#body.house > div:first-child > ul > li > div div {
	border-top:1px solid #e5e5e5;
	margin:15px 0 0;
	padding:13px 0 25px;
}
#body.house > div:first-child > ul > li > div div span:first-child {
	float:left;
}
#body.house > div:first-child > ul > li > div div span {
	color:#959595;
	float:right;
	font-size:12px;
	letter-spacing:.05em;
}
#body.house > div:first-child > ul > li span.bg-bottom {
	clear:both;
	display:block;
	height:10px;
	width:580px;
}
#body.house > div:first-child > ul > li span.triangle {
	display:block;
	height:20px;
	position:absolute;
	right:0;
	top:52px;
	width:20px;
}
#body.house > div:first-child > ul.paging {
	overflow:hidden;
	padding:35px 0 0;
	text-align:center;
	width:580px;
	*margin:0 0 0 140px;/* Needed for IE7 and old versions */
}
#body.house > div:first-child > ul.paging li {
	background:none;
	display:inline-block;
	margin:0;
	*float:left;/* Needed for IE7 and old versions */
}
#body.house > div:first-child > ul.paging li a {
	color:#636363;
	font-family:anticregular;
	font-size:16px;
	letter-spacing:.1em;
	line-height:24px;
	margin:0;
	padding:0 5px;
	text-decoration:none;
}
#body.house > div:first-child > ul.paging li a:hover {
	color:#E49E06;
}
#body.house > div:first-child > ul.paging li.first a {
	margin:0 15px 0 0;
}
#body.house > div:first-child > ul.paging li.last a {
	margin:0 0 0 15px;
}
